.main {
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.content {
  width: min(100%, 1540px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroArea {
  display: flex;
  align-items: center;
  width: 100%;
}

@media (max-width: 900px) {
  .main {
    padding: 0;
    align-items: stretch;
  }

  .content {
    width: 100%;
    gap: 24px;
    padding-bottom: 24px;
  }

  .heroArea {
    width: 100%;
  }
}
