.main {
  align-items: stretch;
  justify-content: center;
  padding-top: 0;
  padding-bottom: 0;
}

.content {
  width: min(100%, 1440px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroArea {
  display: flex;
  align-items: center;
}

@media (min-width: 901px) {
  .content {
    min-height: 100%;
  }

  .heroArea {
    min-height: 100%;
  }
}

@media (max-width: 900px) {
  .content {
    width: 100%;
    gap: 24px;
    padding-bottom: 24px;
  }

  .heroArea {
    width: 100%;
  }
}
