NEXT_PUBLIC_AUTH_SERVICE_URL="https://auth-service.example.vercel.app"
NEXT_PUBLIC_REVIEW_SERVICE_URL="https://review-service.example.vercel.app"
NEXT_PUBLIC_ANALYSIS_SERVICE_URL="https://analysis-service.example.vercel.app"
NEXT_PUBLIC_REPORT_SERVICE_URL="https://report-service.example.vercel.app"
NEXT_PUBLIC_SURVEYS_SERVICE_URL="https://surveys-service.example.vercel.app"
